<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thinkers.hmm" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.Login"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SignUp"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".ui.AddNewFaculty"
            android:label="@string/title_activity_add_new_faculty" >
        </activity>
        <activity
            android:name=".ui.UserMain"
            android:label="@string/title_activity_user_main" >
        </activity>

        <activity
            android:name=".ui.AdminMain"
            android:label="@string/title_activity_admin_main" >
        </activity>
        <activity
            android:name=".ui.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".ui.ConstructReview"
            android:label="@string/title_activity_construct_review" >
        </activity>
        <activity
            android:name=".ui.AddNewCourse"
            android:label="@string/title_activity_add_new_course" >
        </activity>
        <activity
            android:name=".ui.ListMyReviews"
            android:label="@string/title_activity_list_my_reviews" >
        </activity>
        <activity
            android:name=".ui.UserInfo"
            android:label="@string/title_activity_user_info" >
        </activity>
        <activity
            android:name=".ui.CourseReview"
            android:label="@string/title_activity_course_review" >
        </activity>
        <activity
            android:name=".ui.FacultyReview"
            android:label="@string/title_activity_faculty_review" >
        </activity>
        <activity
            android:name=".ui.ListCourses"
            android:label="@string/list_courses_label" >
        </activity>
        <activity
            android:name=".ui.ListCourseReviews"
            android:label="@string/list_course_reviews_label" >
        </activity>
        <activity
            android:name=".ui.ListFaculties"
            android:label="@string/list_faculties_label" >
        </activity>
        <activity
            android:name=".ui.ListFacultyReviews"
            android:label="@string/list_faculty_reviews_label" >
        </activity>
        <activity
            android:name=".ui.ListUsers"
            android:label="@string/list_users_label" >
        </activity>
        <activity
            android:name=".ui.ListMyDrafts"
            android:label="@string/title_activity_list_my_drafts" >
        </activity>
    </application>

</manifest>
